#clock {
	margin: 0 auto;
	position: relative;
	width: 600px;
	height: 200px;
 
	

}

#clock img{
	position: absolute;

}
#minute {
	position: absolute;
	transform: rotate(0deg);
	left: 0px;
  	top: 0px;
	z-index: 2;
}
#hour {
	position: absolute;
	transform: rotate(0deg);
	left: 0px;
  	top: 0px;
	z-index: 1;
}
#second {
	position: absolute;
	transform: rotate(0deg);
	left: 0px;
    top: 0px;
	z-index: 3;
}
